fastapi==0.119.0
fastapi-cli==0.0.13
pydantic
huggingface_hub==0.36.0
torch==2.5.1
torchvision==0.20.1
matplotlib==3.7.5
opencv-python
mediapy==1.2.2
numpy
requests
git+https://github.com/facebookresearch/co-tracker.git
